@model IEnumerable<MiBibliotecaDigital.Models.Autores>

@{
    ViewData["Title"] = "Lista de Autores";
}

<h1>Autores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Autor</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Nacionalidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellidos</td>
                <td>@item.Nacionalidad</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AutorId" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.AutorId" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.AutorId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
